* { margin: 0; padding: 0;  }

body { margin: 0 auto; }

.container { display: flex; flex-flow: wrap; justify-content: center; }

h1 { font-family: cursive; font-size: 3em; margin: 10px; border-bottom: 2px solid pink; border-right: 2px solid pink; width: 400px; text-align: center; box-shadow: 4px 4px 5px #888; }

img { width: 600px; height: 400px; margin: 10px; transition: all 0.3s; }
img:hover { cursor: pointer; transform: scale(0.9); }